system {
    host-name R4;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 3;
        }
    }
}
interfaces {
    ge-0/0/2 {
        description "Connection to DC1 & DC2";
        unit 0 {
            family inet {
                address 172.27.0.204/28 {
                    vrrp-group 1 {
                        virtual-address 172.27.0.199;
                        priority 100;
                    }
                }
            }
        }
    }
    ge-0/0/3 {
        description "L3VPN CE2";
        unit 0 {
            family inet {
                address 172.27.0.41/30;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.18/30;
            }
            family inet6 {
                address 2008:4489::12/126;
            }
        }
    }
    ge-0/0/6 {
        description "Connection to R1 AE1";
        gigether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/7 {
        description "Connection to R1 AE1";
        gigether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/8 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 172.27.155.5/24;
            }
        }
    }
    ge-0/0/9 {
        description "Connection to R2 AE0";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/10 {
        description "Connection to R2 AE0";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/11 {
        description "Connection to R2 AE0";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/12 {
        description "Connection to R5 AE2";
        gigether-options {
            802.3ad ae2;
        }
    }
    ge-0/0/13 {
        description "Connection to R5 AE2";
        gigether-options {
            802.3ad ae2;
        }
    }
    ae0 {
        aggregated-ether-options {
            minimum-links 3;
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 172.27.0.6/30;
            }
            family inet6 {
                address 2008:4489::6/126;
            }
        }
    }
    ae1 {
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 172.27.0.9/30;
            }
            family inet6 {
                address 2008:4489::9/126;
            }
        }
    }
    ae2 {
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 172.27.0.21/30;
            }
            family inet6 {
                address 2008:4489::15/126;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.4/32;
            }
        }
    }
}
routing-options {
    static {
        route 10.100.100.0/24 next-hop 172.27.0.201;
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}