system {
    host-name R5;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 3;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.25/30;
            }
            family inet6 {
                address 2008:4489::19/126;
            }
        }
    }
    ge-0/0/3 {
        description "L3VPN CE1";
        unit 0 {
            family inet {
                address 172.27.0.45/30;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to customer router";
        unit 0 {
            family inet {
                address 172.27.0.49/30;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to transit router";
        unit 0 {
            family inet {
                address 172.27.0.57/30;
            }
            family inet6 {
                address 2008:4498::39/126;
            }
        }
    }
    ge-0/0/6 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 172.27.155.6/24;
            }
        }
    }
    ge-0/0/7 {
        description "Connection to R4 AE2";
        gigether-options {
            802.3ad ae2;
        }
    }
    ge-0/0/8 {
        description "Connection to R4 AE2";
        gigether-options {
            802.3ad ae2;
        }
    }
    ge-0/0/9 {
        description "Connection to DC3";
        unit 0 {
            family inet {
                address 172.27.0.105/28;
            }
        }
    }
    ae2 {
        description "Connection to R4";
        aggregated-ether-options {
            lacp {
                passive;
            }
        }
        unit 0 {
            family inet {
                address 172.27.0.22/30;
            }
            family inet6 {
                address 2008:4489::16/126;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.5/32;
            }
        }
    }
}
routing-options {
    static {
        route 10.255.3.0/24 next-hop 172.27.0.58;
        route 10.255.4.0/28 next-hop 172.27.0.58;
        route 10.255.5.0/28 next-hop 172.27.0.58;
        route 10.255.6.0/28 next-hop 172.27.0.58;
        route 10.255.7.0/28 next-hop 172.27.0.58;
        route 10.255.8.0/25 next-hop 172.27.0.58;
        route 10.255.9.0/29 next-hop 172.27.0.58;
        route 10.255.10.0/26 next-hop 172.27.0.58;
        route 10.255.11.0/27 next-hop 172.27.0.58;
        route 10.255.17.0/25 next-hop 172.27.0.58;
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}