system {
    host-name vr-device;
    root-authentication {
        encrypted-password "$1$eASEA2cq$c1TkoxgDnKV6auHCSLNoa."; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$ODEylk8f$LlXHoGcdfHLs0YoboOwQ1."; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Customer 1 to R1";
        unit 0 {
            family inet {
                address 172.27.0.30/30;
            }
        }
    }
    ge-0/0/2 {
        description "CE3 to R1";
        unit 0 {
            family inet {
                address 172.27.0.34/30;
            }
        }
    }
    ge-0/0/3 {
        description "Transit 1 to R2";
        unit 0 {
            family inet {
                address 172.27.0.38/30;
            }
            family inet6 {
                address 2008:4498::26/126;
            }
        }
    }
    ge-0/0/4 {
        description "DC1 to R2 & R4";
        unit 0 {
            family inet {
                address 172.27.0.201/28;
            }
        }
    }
    ge-0/0/5 {
        description "DC3 to R3 & R5";
        unit 0 {
            family inet {
                address 172.27.0.101/28;
            }
        }
    }
    ge-0/0/6 {
        description "DC2 to R2 & R4";
        unit 0 {
            family inet {
                address 172.27.0.200/28;
            }
        }
    }
    ge-0/0/7 {
        description "CE2 MPLS VPN";
        unit 0 {
            family inet {
                address 172.27.0.42/30;
            }
        }
    }
    ge-0/0/8 {
        description "CE1 MPLS VPN";
        unit 0 {
            family inet {
                address 172.27.0.46/30;
            }
        }
    }
    ge-0/0/9 {
        description "Customer 2 to R5";
        unit 0 {
            family inet {
                address 172.27.0.50/30;
            }
        }
    }
    ge-0/0/10 {
        description "Transit 2 to R5";
        unit 0 {
            family inet {
                address 172.27.0.58/30;
            }
            family inet6 {
                address 2008:4498::3a/126;
            }
        }
    }
    ge-0/0/11 {
        unit 0 {
            family inet {
                address 10.0.0.1/30;
            }
        }
    }
    ge-0/0/12 {
        description "connection to CE1";
        unit 0 {
            family inet {
                address 10.0.0.2/30;
            }
        }
    }
    ge-0/0/13 {
        unit 0 {
            family inet {
                address 138.1.2.7/24;
            }
        }
    }
    lo0 {
        unit 1 {
            family inet {
                address 10.100.100.1/32;
            }
        }
        unit 2 {
            family inet {
                address 10.100.100.2/32;
            }
        }
        unit 3 {
            family inet {
                address 10.22.1.1/32;
                address 10.22.2.1/32;
                address 10.22.3.1/32;
                address 10.22.4.1/32;
                address 10.22.5.1/32;
                address 10.22.6.1/32;
                address 10.22.7.1/32;
            }
        }
        unit 4 {
            family inet {
                address 172.16.16.1/32;
                address 172.16.20.1/32;
                address 172.16.31.1/32;
            }
        }
        unit 5 {
            family inet {
                address 10.255.3.1/32;
            }
            family inet6 {
                address 2011:4122::1/128;
            }
        }
    }
}
policy-options {
    policy-statement stat {
        term 1 {
            from {
                route-filter 0.0.0.0/0 exact;
            }
            then reject;
        }
        term 2 {
            from protocol static;
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
routing-instances {
    DC1 {
        instance-type virtual-router;
        interface ge-0/0/4.0;
        interface lo0.1;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.27.0.199;
            }
        }
    }
    DC2 {
        instance-type virtual-router;
        interface ge-0/0/6.0;
        interface lo0.2;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.27.0.199;
            }
        }
    }
    DC3 {
        instance-type virtual-router;
        interface ge-0/0/5.0;
        interface lo0.3;
        routing-options {
            static {
                route 10.22.1.0/24 reject;
                route 10.22.2.0/24 reject;
                route 10.22.3.0/24 reject;
                route 10.22.4.0/24 reject;
                route 10.22.5.0/24 reject;
                route 10.22.6.0/24 reject;
                route 10.22.7.0/24 reject;
                route 0.0.0.0/0 {
                    qualified-next-hop 172.27.0.105 {
                        preference 3;
                    }
                    qualified-next-hop 172.27.0.103;
                }
            }
        }
        protocols {
            ospf {
                export stat;
                area 0.0.0.0 {
                    interface ge-0/0/5.0;
                }
            }
            rip {
                group rip {
                    export stat;
                    neighbor ge-0/0/5.0;
                }
            }
        }
    }
    L3VPN-CE1 {
        instance-type virtual-router;
        interface ge-0/0/8.0;
        interface ge-0/0/11.0;
    }
    L3VPN-CE2 {
        instance-type virtual-router;
        interface ge-0/0/7.0;
        interface ge-0/0/12.0;
    }
    L3VPN-CE3 {
        instance-type virtual-router;
        interface ge-0/0/2.0;
    }
    customer1 {
        instance-type virtual-router;
        interface ge-0/0/1.0;
        interface lo0.4;
        routing-options {
            static {
                route 172.16.16.0/29 reject;
                route 172.16.20.0/24 reject;
                route 172.16.21.0/24 reject;
                route 0.0.0.0/0 next-hop 172.27.0.29;
            }
        }
        protocols {
            rip {
                group rip {
                    export stat;
                    neighbor ge-0/0/1.0;
                }
            }
        }
    }
    customer2 {
        instance-type virtual-router;
        interface ge-0/0/9.0;
    }
    transit1 {
        instance-type virtual-router;
        interface ge-0/0/3.0;
    }
    transit2 {
        instance-type virtual-router;
        interface ge-0/0/10.0;
        interface lo0.5;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.27.0.57;
            }
        }
    }
}