system {
    host-name R1;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 2;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to Customer 1";
        unit 0 {
            family inet {
                address 172.27.0.29/30;
            }
        }
    }
    ge-0/0/2 {
        description "Connection to CE3 L3VPN";
        unit 0 {
            family inet {
                address 172.27.0.33/30;
            }
        }
    }
    ge-0/0/3 {
        description "Connection to R2";
        mtu 9192;
        unit 0 {
            family inet {
                mtu 1500;
                address 172.27.0.1/30;
            }
            family inet6 {
                mtu 1500;
                address 2008:4498::1/126;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to R4 AE1";
        gigether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/5 {
        description "Connection to R4 AE1";
        gigether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/6 {
        description "Connection to R3";
        mtu 4489;
        unit 0 {
            family inet {
                mtu 3300;
                address 172.27.0.14/30;
            }
            family inet6 {
                mtu 4400;
                address 2008:4489::e/126;
            }
        }
    }
    ge-0/0/7 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 138.1.2.2/24;
            }
        }
    }
    ae1 {
        mtu 1514;
        aggregated-ether-options {
            lacp {
                passive;
            }
        }
        unit 0 {
            family inet {
                mtu 1500;
                address 172.27.0.10/30;
            }
            family inet6 {
                mtu 1500;
                address 2008:4498::a/126;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.25.1/32; 
            }
            family inet6 {
                address ::172.27.255.1/32;
            }
        }
    } 
}
routing-options {
    aggregate {
        route 172.16.16.0/21;
    }
    router-id 172.27.255.1;
}
protocols {
    ospf {
        overload timeout 140;
        export rip-ospf;
        reference-bandwidth 100g;
        area 0.0.0.0 {
            interface ae1.0 {
                interface-type p2p;
                hello-interval 10;
                dead-interval 40;
                authentication {
                    simple-password "$9$N6VsgGDkTz6oJz69A1INdb"; ## SECRET-DATA
                }
            }
            interface ge-0/0/6.0 {
                interface-type p2p;
                hello-interval 5;
                dead-interval 20;
                authentication {
                    simple-password "$9$BcXRcrWLNYgJevgJGDmPBIE"; ## SECRET-DATA
                }
            }
            interface lo0.0 {
                passive;
            }
        }
        area 0.0.0.1 {
            interface ge-0/0/3.0 {
                interface-type p2p;
                hello-interval 15;
                dead-interval 30;
            }
        }
    }
    ospf3 {
        overload timeout 240;
        reference-bandwidth 40g;
        area 0.0.0.0 {
            interface ae1.0 {
                interface-type p2p;
                hello-interval 5;
                dead-interval 20;
            }
            interface ge-0/0/6.0 {
                interface-type p2p;
                hello-interval 10;
                dead-interval 30;
            }
        }
        area 1.0.0.1 {
            interface ge-0/0/3.0 {
                interface-type p2p;
                hello-interval 2;
                dead-interval 12;
            }
        }
    }
    rip {
        group rip {
            neighbor ge-0/0/1.0;
        }
    }
}
policy-options {
    policy-statement rip-ospf {
        term agg {
            from {
                protocol aggregate;
                route-filter 172.16.16.0/21 exact;
            }
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}