system {
    host-name R3;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R1";
        mtu 4489;
        unit 0 {
            family inet {
                mtu 3300;
                address 172.27.0.13/24;
            }
            family inet6 {
                mtu 4400;
                address 2008:4489::d/126;
            }
        }
    }
    ge-0/0/2 {
        description "Connection to R4";
        mtu 4450;
        unit 0 {
            family inet {
                address 172.27.0.17/30;
            }
            family inet6 {
                address 2008:4489::13/126;
            }
        }
    }
    ge-0/0/3 {
        description "Connection to R5";
        mtu 4489;
        unit 0 {
            family inet {
                mtu 3300;
                address 172.27.0.26/30;
            }
            family inet6 {
                mtu 4400;
                address 2008:4489::1a/126;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to DC3";
        unit 0 {
            family inet {
                address 172.27.0.103/28;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 138.1.2.4/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.3/32;
            }
            family inet6 {
                address ::172.27.255.3/32;
            }
        }
    }
}
protocols {
    ospf {
        overload timeout 140;
        export rip-ospf;
        reference-bandwidth 100g;
        area 0.0.0.0 {
            interface ge-0/0/1.0 {
                interface-type p2p;
                hello-interval 5;
                dead-interval 20;
                authentication {
                    simple-password "$9$wb2oZHqfn/tUj/tuOcSwYg"; ## SECRET-DATA
                }
            }
            interface ge-0/0/2.0 {
                interface-type p2p;
                hello-interval 5;
                dead-interval 30;
                authentication {
                    simple-password "$9$m5zntu1ylM/ClM8XbwmfT"; ## SECRET-DATA
                }
            }
            interface lo0.0 {
                passive;
            }
        }
        area 0.0.0.2 {
            nssa {
                default-lsa {
                    default-metric 5000;
                    metric-type 1;
                    type-7;
                }
                no-summaries;
                area-range 10.255.0.0/19 restrict;
            }
            interface ge-0/0/3.0 {
                interface-type p2p;
                hello-interval 5;
                dead-interval 30;
            }
        }
    }
    ospf3 {
        overload timeout 140;
        reference-bandwidth 40g;
        area 0.0.0.0 {
            interface ge-0/0/2.0 {
                interface-type p2p;
                hello-interval 2;
                dead-interval 10;
            }
            interface ge-0/0/1.0 {
                interface-type p2p;
                hello-interval 20;
                dead-interval 60;
            }
        }
        area 0.0.0.2 {
            nssa {
                default-lsa {
                    default-metric 5000;
                    metric-type 1;
                    type-7;
                }
                no-summaries;
            }
            interface ge-0/0/3.0 {
                interface-type p2p;
                hello-interval 5;
                dead-interval 30;
            }
        }
    }
    rip {
        group rip {
            neighbor ge-0/0/4.0;
        }
    }
}
policy-options {
    policy-statement rip-ospf {
        term rip {
            from protocol rip;
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}