system {
    host-name R5;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 3;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R3";
        mtu 4489;
        unit 0 {
            family inet {
                mtu 3300;
                address 172.27.0.25/30;
            }
            family inet6 {
                mtu 4400;
                address 2008:4489::19/126;
            }
        }
    }
    ge-0/0/3 {
        description "L3VPN CE1";
        unit 0 {
            family inet {
                address 172.27.0.45/30;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to customer router";
        unit 0 {
            family inet {
                address 172.27.0.49/30;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to transit router";
        unit 0 {
            family inet {
                address 172.27.0.57/30;
            }
            family inet6 {
                address 2008:4498::39/126;
            }
        }
    }
    ge-0/0/6 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 138.1.2.6/24;
            }
        }
    }
    ge-0/0/7 {
        description "Connection to R4 AE2";
        gigether-options {
            802.3ad ae2;
        }
    }
    ge-0/0/8 {
        description "Connection to R4 AE2";
        gigether-options {
            802.3ad ae2;
        }
    }
    ge-0/0/9 {
        description "Connection to DC3";
        unit 0 {
            family inet {
                address 172.27.0.105/28;
            }
        }
    }
    ae2 {
        description "Connection to R4";
        mtu 1500;
        aggregated-ether-options {
            lacp {
                passive;
            }
        }
        unit 0 {
            family inet {
                address 172.27.0.22/30;
            }
            family inet6 {
                address 2008:4489::16/126;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.5/32;
            }
            family inet6 {
                address ::172.27.255.5/32;
            }
        }
    }
}
routing-options {
    static {
        route 10.255.3.0/24 next-hop 172.27.0.58;
        route 10.255.4.0/28 next-hop 172.27.0.58;
        route 10.255.5.0/28 next-hop 172.27.0.58;
        route 10.255.6.0/28 next-hop 172.27.0.58;
        route 10.255.7.0/28 next-hop 172.27.0.58;
        route 10.255.8.0/25 next-hop 172.27.0.58;
        route 10.255.9.0/29 next-hop 172.27.0.58;
        route 10.255.10.0/26 next-hop 172.27.0.58;
        route 10.255.11.0/27 next-hop 172.27.0.58;
        route 10.255.17.0/25 next-hop 172.27.0.58;
    }
    aggregate {
        route 10.22.0.0/21;
    }
}
protocols {
    ospf {
        overload timeout 140;
        export [ rip-ospf interface-routes stat-ospf ];
        reference-bandwidth 100g;
        area 0.0.0.2 {
            nssa;
            interface ge-0/0/1.0 {
                interface-type p2p;
                hello-interval 5;
                dead-interval 30;
            }
            interface lo0.0 {
                passive;
            }
            interface ae2.0 {
                interface-type p2p;
                hello-interval 5;
                dead-interval 40;
            }
            interface ge-0/0/5.0 {
                passive;
            }
        }
    }
    ospf3 {
        overload timeout 240;
        reference-bandwidth 40g;
        area 0.0.0.2 {
            nssa;
            interface ge-0/0/1.0 {
                interface-type p2p;
                hello-interval 5;
                dead-interval 30;
            }
            interface ae2.0 {
                interface-type p2p;
                hello-interval 5;
                dead-interval 40;
            }
            interface ge-0/0/5.0 {
                passive;
            }
        }
    }
    rip {
        group rip {
            preference 155;
            neighbor ge-0/0/9.0;
        }
    }
}
policy-options {
    policy-statement interface-routes {
        term DC3 {
            from {
                protocol direct;
                route-filter 172.27.0.96/28 exact;
            }
            then accept;
        }
    }
    policy-statement rip-ospf {
        term agg {
            from {
                protocol aggregate;
                route-filter 10.22.0.0/21 exact;
            }
            then accept;
        }
    }
    policy-statement stat-ospf {
        term statics {
            from {
                protocol static;
                route-filter 10.255.0.0/19 orlonger;
            }
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}