system {
    host-name R1;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 2;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to Customer 1";
        unit 0 {
            family inet {
                address 172.27.0.29/30;
            }
        }
    }
    ge-0/0/2 {
        description "Connection to CE3 L3VPN";
        unit 0 {
            family inet {
                address 172.27.0.33/30;
            }
        }
    }
    ge-0/0/3 {
        description "Connection to R2";
        unit 0 {
            family inet {
                address 172.27.0.210/30;
            }
            family iso;
            family inet6 {
                address 2008:4498::1/126;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to R4 AE1";
        gigether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/5 {
        description "Connection to R4 AE1";
        gigether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/6 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.14/30;
            }
            family iso;
            family inet6 {
                address 2008:4489::e/126;
            }
        }
    }
    ge-0/0/7 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 138.1.2.2/24;
            }
        }
    }
    ae1 {
        aggregated-ether-options {
            lacp {
                passive;
            }
        }
        unit 0 {
            family inet {
                address 172.27.0.10/30;
            }
            family iso;
            family inet6 {
                address 2008:4498::a/126;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.1/32;
            }
            family iso {
                address 49.0002.0172.0027.2551.00;
            }
        }
    }
}
routing-options {
    generate {
        route 172.27.0.0/16 policy isis-present;
    }
}
protocols {
    isis {
        export isis-out;
        reference-bandwidth 30g;
        lsp-lifetime 3600;
        no-ipv4-routing;
        no-ipv6-routing;
        level 2 disable;
        level 1 {
            authentication-key "$9$.fQ3ApBSrv69rvWLVb.P5z/AleWx7VRhb2"; ## SECRET-DATA
            authentication-type md5;
            prefix-export-limit 2;
        }
        interface ge-0/0/6.0 {
            level 1 disable;
        }
        interface ae1.0 {
            level 1 {
                hello-authentication-key "$9$nr9B9t0vMLN-bZUqP5F6/eKMW7d"; ## SECRET-DATA
                hello-authentication-type simple;
            }
        }
        interface all {
            level 1 {
                hello-authentication-key "$9$gRaGjmfzCtOHqtO1RlegoJ"; ## SECRET-DATA
                hello-authentication-type simple;
                hold-time 6;
            }
        }
    }
    rip {
        group rip-c1 {
            export rip-out;
            neighbor ge-0/0/1.0;
        }
    }
}
policy-options {
    policy-statement isis-out {
        term rip-isis {
            from protocol rip;
            then accept;
        }
    }
    policy-statement isis-present {
        term isis {
            from {
                protocol isis;
                route-filter 172.27.255.2/32 exact;
            }
            then accept;
        }
        term no-other-routes {
            then reject;
        }
    }
    policy-statement rip-out {
        term gen-rip {
            from {
                protocol aggregate;
                route-filter 172.27.0.0/16 exact;
            }
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}