system {
    host-name R2;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 1;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R1";
        unit 0 {
            family inet {
                address 172.27.0.2/30;
            }
            family inet6 {
                address 2008:4498::2/126;
            }
        }
    }
    ge-0/0/2 {
        description "Connection to transit router";
        unit 0 {
            family inet {
                address 172.27.0.37/30;
            }
            family inet6 {
                address 2008:4498::25/126;
            }
        }
    }
    ge-0/0/3 {
        description "Connection to DC1 & DC2";
        unit 0 {
            family inet {
                address 172.27.0.202/28 {
                    vrrp-group 1 {
                        virtual-address 172.27.0.199;
                        priority 200;
                        track {
                            interface ge-0/0/1 {
                                priority-cost 101;
                            }
                        }
                    }
                }
            }
        }
    }
    ge-0/0/5 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 138.1.2.3/24;
            }
        }
    }
    ge-0/0/6 {
        description "Connection to R4 AE0";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/7 {
        description "Connection to R4 AE0";
        disable;
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/8 {
        description "Connection to R4 AE0";
        gigether-options {
            802.3ad ae0;
        }
    }
    ae0 {
        aggregated-ether-options {
            minimum-links 3;
            lacp {
                passive;
            }
        }
        unit 0 {
            family inet {
                address 172.27.0.5/30;
            }
            family iso;
            family inet6 {
                address 2008:4498::5/126;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.2/32;
            }
            family iso {
                address 49.0001.0172.0027.2554.00;
            }
        }
    }
}
routing-options {
    static {
        route 10.100.100.0/24 next-hop 172.27.0.201;
        route 10.100.101.0/24 next-hop 172.27.0.201;
    }
}
protocols {
    isis {
        export static-isis;
        reference-bandwidth 30g;
        lsp-lifetime 3600;
        no-ipv6-routing;
        level 2 disable;
        level 1 {
            authentication-key "$9$.fQ3ApBSrv69rvWLVb.P5z/AleWx7VRhb2"; ## SECRET-DATA
            authentication-type md5;
            prefix-export-limit 1;
        }
        interface ge-0/0/2.0 {
            passive;
        }
        interface all {
            level 1 {
                hello-authentication-key "$9$IjshyeLxdgoGvWoGDif5IEc"; ## SECRET-DATA
                hello-authentication-type simple;
                hold-time 6;
            }
        }
    }
}
policy-options {
    policy-statement static-isis {
        term DC1-prefix {
            from {
                protocol static;
            }
            then {
                tag 102;
                accept;
            }
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}