system {
    host-name R3;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R1";
        unit 0 {
            family inet {
                address 172.27.0.13/30;
            }
            family inet6 {
                address 2008:4489::d/126;
            }
        }
    }
    ge-0/0/2 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.17/30;
            }
            family inet6 {
                address 2008:4489::13/126;
            }
        }
    }
    ge-0/0/3 {
        description "Connection to R5";
        unit 0 {
            family inet {
                address 172.27.0.26/30;
            }
            family iso;
            family inet6 {
                address 2008:4489::1a/126;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to DC3";
        unit 0 {
            family inet {
                address 172.27.0.103/28;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 138.1.2.4/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.3/32;
            }
            family iso {
                address 49.0002.0172.0027.2553.00;
            }
        }
    }
}
routing-options {
    aggregate {
        route 172.16.16.0/21;
        route 10.22.0.0/21;
    }
    generate {
        route 172.27.255.0/30;
    }
}
protocols {
    isis {
        export [ leak-routes ospf-isis ];
        reference-bandwidth 30g;
        lsp-lifetime 3600;
        no-ipv6-routing;
        level 2 wide-metrics-only;
        level 1 {
            authentication-key "$9$-DbYof5F3/tP5Ihrv7Nbs2aGi.PQ"; ## SECRET-DATA
            authentication-type md5;
        }
        interface ge-0/0/1.0 {
            point-to-point;
            level 2 disable;
            level 1 {
                hello-authentication-key "$9$--bY4UjqQF/aZF/CtIR-Vw"; ## SECRET-DATA
                hello-authentication-type simple;
                hold-time 6;
            }
        }
        interface ge-0/0/2.0 {
            point-to-point;
            bfd-liveness-detection {
                minimum-interval 150;
            }
            level 1 disable;
            level 2 {
                hello-authentication-key "$9$ITDhyeLxdgoGvWoGDif5IEc"; ## SECRET-DATA
                hello-authentication-type simple;
            }
        }
        interface ge-0/0/3.0 {
            point-to-point;
            bfd-liveness-detection {
                minimum-interval 150;
            }
            level 1 disable;
            level 2 {
                hello-authentication-key "$9$cptrKWNdsJGiLxGik.zFcyl"; ## SECRET-DATA
                hello-authentication-type simple;
            }
        }
        interface lo0.0 {
            level 1 disable;
        }
    }
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/4.0;
        }
    }
}
policy-options {
    policy-statement leak-routes {
        term block-R1-R2-lo0 {
            from {
                protocol isis;
                level 1;
                route-filter 172.27.255.0/30 orlonger;
            }
            to level 2;
            then reject;
        }
        term R1-R2-summary {
            from {
                protocol aggregate;
                route-filter 172.27.255.0/30 exact;
            }
            to level 2;
            then accept;
        }
        term r5-IPv4-int {
            from {
                protocol isis;
                level 2;
                route-filter 172.27.0.56/30 exact;
            }
            to level 1;
            then accept;
        }
        term r5-IPv6-int {
            from {
                protocol isis;
                level 2;
                route-filter 2008:4498::38/126 exact;
            }
            to level 1;
            then accept;
        }
        term lvl-1-ext {
            from {
                protocol aggregate;
                level 1;
                route-filter 172.16.16.0/21 exact;
            }
            to level 2;
            then accept;
        }
        term DC1-lvl-1-to-lvl-2 {
            from {
                protocol isis;
                level 1;
                tag 102;
                route-filter 10.100.100.0/24 exact;
            }
            to level 2;
            then {
                metric 100;
                accept;
            }
        }
    }
    policy-statement ospf-isis {
        term agg {
            from {
                route-filter 10.22.0.0/21 exact;
            }
            then {
                metric 301;
                accept;
            }
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}