system {
    host-name R4;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 3;
        }
    }
}
interfaces {
    ge-0/0/2 {
        description "Connection to DC1 & DC2";
        unit 0 {
            family inet {
                address 172.27.0.204/28 {
                    vrrp-group 1 {
                        virtual-address 172.27.0.199;
                        priority 100;
                    }
                }
            }
        }
    }
    ge-0/0/3 {
        description "L3VPN CE2";
        unit 0 {
            family inet {
                address 172.27.0.41/30;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.18/30;
            }
            family inet6 {
                address 2008:4489::12/126;
            }
        }
    }
    ge-0/0/6 {
        description "Connection to R1 AE1";
        gigether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/7 {
        description "Connection to R1 AE1";
        gigether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/8 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 138.1.2.5/24;
            }
        }
    }
    ge-0/0/9 {
        description "Connection to R2 AE0";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/10 {
        description "Connection to R2 AE0";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/11 {
        description "Connection to R2 AE0";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/12 {
        description "Connection to R5 AE2";
        gigether-options {
            802.3ad ae2;
        }
    }
    ge-0/0/13 {
        description "Connection to R5 AE2";
        gigether-options {
            802.3ad ae2;
        }
    }
    ae0 {
        aggregated-ether-options {
            minimum-links 3;
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 172.27.0.6/30;
            }
            family iso;
            family inet6 {
                address 2008:4489::6/126;
            }
        }
    }
    ae1 {
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 172.27.0.9/30;
            }
            family iso;
            family inet6 {
                address 2008:4489::9/126;
            }
        }
    }
    ae2 {
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 172.27.0.21/30;
            }
            family inet6 {
                address 2008:4489::15/126;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.4/32;
            }
            family iso {
                address 49.0001.0172.0027.2554.00;
            }
        }
    }
}
routing-options {
    static {
        route 10.100.100.0/24 next-hop 172.27.0.201;
    }
    aggregate {                         
        route 172.27.255.0/30;
        route 172.16.16.0/21;
    }
}
protocols {
    isis {
        export leak-routes;
        reference-bandwidth 30g;
        lsp-lifetime 3600;
        no-ipv6-routing;
        level 2 wide-metrics-only;
        level 1 {
            authentication-key "$9$xWF-b2.mTQ39qmOIclLX-VwgaUHqf"; ## SECRET-DATA
            authentication-type md5;
        }
        interface ge-0/0/5.0 {
            bfd-liveness-detection {
                minimum-interval 150;
            }
            level 1 disable;
            level 2 {
                hello-authentication-key "$9$pxTuOIhevLVwgSrwgoJHkp0B"; ## SECRET-DATA
                hello-authentication-type simple;
            }
        }
        interface ae0.0 {
            level 2 disable;
            level 1 {
                hello-authentication-key "$9$QX9c3/ABIcvWxp0WxNdg4QFn"; ## SECRET-DATA
                hello-authentication-type simple;
                hold-time 6;
            }
        }
        interface ae2.0 {
            bfd-liveness-detection {
                minimum-interval 150;
            }
            level 1 disable;
            level 2 {
                hello-authentication-key "$9$y6VeMLdb2GDkxNDk.P3nylK"; ## SECRET-DATA
                hello-authentication-type simple;
            }
        }
        interface lo0.0 {
            level 1 disable;
        }
    }
}
policy-options {
    policy-statement leak-routes {
        term block-R1-R2-lo0 {
            from {
                protocol isis;
                level 1;
                route-filter 172.27.255.0/30 orlonger;
            }
            to level 2;
            then reject;
        }
        term r5-IPv4-int {
            from {
                protocol isis;
                level 2;
                route-filter 172.27.0.56/30 exact;
            }
            to level 1;
            then accept;
        }
        term r5-IPv6-int {
            from {
                protocol isis;
                level 2;
                route-filter 2008:4498::38/126 exact;
            }
            to level 1;
            then accept;
        }
        term lvl-1-ext {
            from {
                protocol aggregate;
                level 1;
                route-filter 172.16.16.0/21 exact;
            }
            to level 2;
            then accept;
        }
        term static-DC-lvl-1 {
            from {
                protocol static;
                route-filter 10.100.100.0/24 exact;
            }
            to level 1;
            then {
                metric 63;
                tag 104;
                accept;
            }
        }
        term static-DC-lvl-2 {
            from {
                protocol static;
                route-filter 10.100.100.0/24 exact;
            }
            to level 2;
            then {
                tag 104;
                accept;
            }
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}