system {
    host-name R1;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$ivKm4ZBY$DMTlYXHw9eeDZumUAi2Xl."; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 1;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to Peer";
        unit 0 {
            family inet {
                address 172.27.0.29/30;
            }
        }
    }
    ge-0/0/3 {
        description "Connection to R2";
        unit 0 {
            family inet {
                address 172.27.0.1/30;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to R4 AE";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/5 {
        description "Connection to R4 AE";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/6 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.14/30;
            }
        }
    }
    ae0 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.10/30;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.1/32;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    bgp {
        group internal {
            type internal;
            local-address 172.27.255.1;
            export nhs;
            neighbor 172.27.255.2;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
            neighbor 172.27.255.5;
        }
        group provider {
            type external;
            peer-as 64174;
            neighbor 172.27.0.30;
        }
    }
    ospf {
        traffic-engineering;
        reference-bandwidth 10g;
        area 0.0.0.0 {
            interface all;
            interface ge-0/0/0.0 {
                disable;
            }
            interface ge-0/0/1.0 {
                disable;
            }
        }
    }
}
policy-options {
    policy-statement nhs {
        from {
            protocol bgp;
            neighbor 172.27.0.30;
        }
        then {
            next-hop self;
            accept;
        }
    }
}


