system {
    host-name R2;
    root-authentication {
        encrypted-password "$1$Ty0dAscu$XfVw7UwNErAEqkNKhaqgI/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$XojXrgzd$FmeY8dISOZYUlm6LRg5rs."; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        finger;
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R1";
        unit 0 {
            family inet {
                address 172.27.0.2/30;
            }
        }
    }
    ge-0/0/2 {
        description "Connection to Transit";
        unit 0 {
            family inet {
                address 172.27.0.37/30;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.5/30;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.2/32;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    bgp {
        group internal {
            type internal;
            local-address 172.27.255.2;
            export nhs;
            neighbor 172.27.255.1;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
            neighbor 172.27.255.5;
        }
        group transit {
            type external;
            neighbor 172.27.0.38 {
                peer-as 64175;
            }
        }
    }
    ospf {
        traffic-engineering;
        reference-bandwidth 10g;
        area 0.0.0.0 {
            interface all;
            interface ge-0/0/0.0 {
                disable;
            }
        }
    }
}
policy-options {
    policy-statement nhs {
        from {
            protocol bgp;
            neighbor 172.27.0.38;
        }
        then {
            next-hop self;
            accept;
        }
    }
}
