system {
    host-name R4;
    root-authentication {
        encrypted-password "$1$qoqf.6Q9$koG9qVmkLNlmsy7AG6VfT/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$v4ziQ7wL$rZfw5T1UjGecMjrS9xjc6/"; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 1;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R2";
        unit 0 {
            family inet {
                address 172.27.0.6/30;
            }
        }
    }
    ge-0/0/4 {
        description "connection to R5";
        unit 0 {
            family inet {
                address 172.27.0.21/30;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.18/30;
            }
        }
    }
    ge-0/0/6 {
        description "AE to R1";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/7 {
        description "AE to R1";
        gigether-options {
            802.3ad ae0;
        }
    }
    ae0 {
        description "Connection to R1";
        unit 0 {
            family inet {
                address 172.27.0.9/30;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.4/32;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    bgp {
        group internal {
            type internal;
            local-address 172.27.255.4;
            neighbor 172.27.255.1;
            neighbor 172.27.255.2;
            neighbor 172.27.255.3;
            neighbor 172.27.255.5;
        }
    }
    ospf {
        traffic-engineering;
        reference-bandwidth 10g;
        area 0.0.0.0 {
            interface all;
            interface ge-0/0/0.0 {
                disable;
            }
        }
    }
}

