system {
    host-name R5;
    root-authentication {
        encrypted-password "$1$8ssVjZsm$kRo89vwqwFhdmfXpdMnuA/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$.m6mbrcf$CX.uic/qBpuj1/UXQLiCo0"; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.25/30;
            }
        }
    }
    ge-0/0/2 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.22/30;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to Customer";
        unit 0 {
            family inet {
                address 172.27.0.49/30;
            }
        }
    }
    ge-0/0/6 {
        unit 0 {
            family inet {
                address 138.1.2.6/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.5/32;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    bgp {
        group internal {
            type internal;
            local-address 172.27.255.5;
            export nhs;
            neighbor 172.27.255.1;
            neighbor 172.27.255.2;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
        }
        group customer {
            type external;
            neighbor 172.27.0.50 {
                peer-as 64177;
            }
        }
    }
    ospf {
        traffic-engineering;
        reference-bandwidth 10g;
        area 0.0.0.0 {
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
            interface lo0.0;
        }
    }
}
policy-options {
    policy-statement nhs {
        from {
            protocol bgp;
            neighbor 172.27.0.50;
        }
        then {
            next-hop self;
            accept;
        }
    }
}

