system {
    host-name R1;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$ivKm4ZBY$DMTlYXHw9eeDZumUAi2Xl."; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 1;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "connection to CE-7";
        unit 0 {
            family inet {
                address 172.27.0.29/30;
            }
        }
    }
    ge-0/0/2 {
        description "connection to CE-4";
        unit 0 {
            family inet {
                address 172.27.0.33/30;
            }
        }
    }
    ge-0/0/3 {
        description "Connection to R2";
        unit 0 {
            family inet {
                address 172.27.0.1/30;
            }
            family mpls;
        }
    }
    ge-0/0/4 {
        description "Connection to R4 AE";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/5 {
        description "Connection to R4 AE";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/6 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.14/30;
            }
            family mpls;
        }
    }
    ae0 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.10/30;
            }
            family mpls;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.1/32;
            }
        }
    }
}
forwarding-options {
    hash-key {
        family mpls {
            label-1;
            payload {
                ip;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    rsvp {
        interface ae0.0;
        interface ge-0/0/6.0;
    }
    mpls {
        admin-groups {
            plat 1;
            gold 2;
            silver 3;
            bronze 4;
        }
        no-propagate-ttl;
        label-switched-path r1-to-r3 {
            to 172.27.255.3;
        }
        label-switched-path r1-to-r4 {
            to 172.27.255.4;
        }
        label-switched-path r1-to-r5-one {
            to 172.27.255.5;
            primary path-1;
        }
        label-switched-path r1-to-r5-two {
            to 172.27.255.5;
            primary path-2;
        }
        path path-1 {
            172.27.0.9 strict;
        }
        path path-2 {
            172.27.0.13 strict;
        }
        interface all;
        interface ae0.0 {
            admin-group plat;
        }
        interface ge-0/0/6.0 {
            admin-group gold;
        }
    }
    bgp {
        group internal {
            type internal;              
            local-address 172.27.255.1;
            export nhs;
            neighbor 172.27.255.2;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
            neighbor 172.27.255.5;
        }
    }
    ospf {
        traffic-engineering;
        area 0.0.0.0 {
            interface ge-0/0/3.0;
            interface ge-0/0/6.0;
            interface ae0.0 {
                metric 15;
            }
            interface lo0.0;
        }
    }
    ldp {
        interface ge-0/0/3.0;
        interface lo0.0;
    }
}
policy-options {
    policy-statement nhs {
        from {
            protocol bgp;
            neighbor 172.27.0.30;
        }
        then {
            next-hop self;
            accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}

