system {
    host-name R2;
    root-authentication {
        encrypted-password "$1$Ty0dAscu$XfVw7UwNErAEqkNKhaqgI/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$XojXrgzd$FmeY8dISOZYUlm6LRg5rs."; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        finger;
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R1";
        unit 0 {
            family inet {
                address 172.27.0.2/30;
            }
            family mpls;
        }
    }
    ge-0/0/3 {
        description "Connection to CE-5";
    }
    ge-0/0/4 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.5/30;
            }
            family mpls;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.2/32;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    mpls {
        no-propagate-ttl;
        interface all;
    }
    bgp {
        group internal {
            type internal;
            local-address 172.27.255.2;
            export nhs;
            neighbor 172.27.255.1;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
            neighbor 172.27.255.5;
        }
    }
    ospf {
        traffic-engineering;
        area 0.0.0.0 {
            interface ge-0/0/1.0;
            interface ge-0/0/4.0;
            interface lo0.0;
        }
    }
    ldp {
        interface ge-0/0/1.0;
        interface ge-0/0/4.0;
    }
}
policy-options {
    policy-statement nhs {
        from {
            protocol bgp;
            neighbor 172.27.0.38;
        }
        then {
            next-hop self;
            accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}

