system {
    host-name R3;
    root-authentication {
        encrypted-password "$1$muHljhcM$yRFjP2AjofzFk8ZcCPgK4."; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$IeuTSUCq$Ohjr7sok2OuH2Pd0k9mm./"; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R1";
        unit 0 {
            family inet {
                address 172.27.0.13/30;
            }
            family mpls;
        }
    }
    ge-0/0/2 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.17/30;
            }
            family mpls;
        }
    }
    ge-0/0/3 {
        description "Connection to R5";
        unit 0 {
            family inet {
                address 172.27.0.26/30;
            }
            family mpls;
        }
    }
    ge-0/0/4 {
        description "Connection to P-1";
        unit 0 {
            family inet {
                address 172.27.0.57/30;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.3/32;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    rsvp {
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
        interface ge-0/0/3.0;
    }
    mpls {
        admin-groups {
            plat 1;
            gold 2;
            silver 3;
            bronze 4;
        }
        no-propagate-ttl;
        label-switched-path r3-to-r1 {
            to 172.27.255.1;
        }
        label-switched-path r3-to-r4 {
            to 172.27.255.4;
            admin-group exclude bronze;
        }
        label-switched-path r3-to-r5 {
            to 172.27.255.5;
        }
        interface all;
        interface ge-0/0/1.0 {
            admin-group gold;
        }
        interface ge-0/0/2.0 {
            admin-group bronze;
        }
        interface ge-0/0/3.0 {
            admin-group plat;
        }
    }
    bgp {
        group internal {
            type internal;
            local-address 172.27.255.3;
            export nhs;
            neighbor 172.27.255.1;
            neighbor 172.27.255.2;
            neighbor 172.27.255.4;
            neighbor 172.27.255.5;
        }
    }
    ospf {
        traffic-engineering;
        area 0.0.0.0 {
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
            interface ge-0/0/3.0;
            interface lo0.0;
        }
    }
}
policy-options {
    policy-statement nhs {
        from {
            protocol bgp;
            neighbor 172.27.0.58;
        }
        then {
            next-hop self;
            accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}

