system {
    host-name R4;
    root-authentication {
        encrypted-password "$1$qoqf.6Q9$koG9qVmkLNlmsy7AG6VfT/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$v4ziQ7wL$rZfw5T1UjGecMjrS9xjc6/"; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 1;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R2";
        unit 0 {
            family inet {
                address 172.27.0.6/30;
            }
            family mpls;
        }
    }
    ge-0/0/3 {
        description "Connection to CE-2";
        unit 0 {
            family inet {
                address 172.27.0.41/30;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to R5";
        unit 0 {
            family inet {
                address 172.27.0.21/30;
            }
            family mpls;
        }
    }
    ge-0/0/5 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.18/30;
            }
            family mpls;
        }
    }
    ge-0/0/6 {
        description "AE to R1";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/7 {
        description "AE to R1";
        gigether-options {
            802.3ad ae0;
        }
    }
    ae0 {
        description "Connection to R1";
        unit 0 {
            family inet {
                address 172.27.0.9/30;
            }
            family mpls;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.4/32;
            }
        }
    }
}
forwarding-options {
    hash-key {
        family mpls {
            label-1;
            payload {
                ip;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    rsvp {
        interface ae0.0 {
            link-protection {
                bandwidth 450m;
            }
        }
        interface ge-0/0/4.0;
        interface ge-0/0/5.0;
    }
    mpls {
        admin-groups {
            plat 1;
            gold 2;
            silver 3;
            bronze 4;
        }
        no-propagate-ttl;
        label-switched-path r4-to-r1 {
            to 172.27.255.1;
        }
        label-switched-path r4-to-r3 {
            to 172.27.255.3;
        }
        label-switched-path r4-to-r5 {
            to 172.27.255.5;
            ldp-tunneling;
        }
        interface all;
        interface ae0.0 {
            admin-group plat;
        }
        interface ge-0/0/4.0 {
            admin-group gold;
        }
        interface ge-0/0/5.0 {
            admin-group bronze;
        }
    }
    bgp {
        group internal {
            type internal;
            local-address 172.27.255.4;
            neighbor 172.27.255.1;
            neighbor 172.27.255.2;
            neighbor 172.27.255.3;
            neighbor 172.27.255.5;
        }
    }
    ospf {
        traffic-engineering;
        area 0.0.0.0 {
            interface ae0.0 {
                metric 15;
            }
            interface ge-0/0/1.0;
            interface ge-0/0/5.0;
            interface ge-0/0/4.0;
            interface lo0.0;
        }
    }
    ldp {
        interface ge-0/0/1.0;
        interface lo0.0;
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}

