system {
    host-name R5;
    root-authentication {
        encrypted-password "$1$8ssVjZsm$kRo89vwqwFhdmfXpdMnuA/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$.m6mbrcf$CX.uic/qBpuj1/UXQLiCo0"; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.25/30;
            }
            family mpls;
        }
    }
    ge-0/0/2 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.22/30;
            }
            family mpls;
        }
    }
    ge-0/0/3 {
        description "Connection to CE-1";
        unit 0 {
            family inet {
                address 172.27.0.45/30;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to CE-2";
        unit 0 {
            family inet {
                address 172.27.0.49/30;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to CE-6";
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.5/32;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    rsvp {
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
    }
    mpls {
        admin-groups {
            plat 1;
            gold 2;
            silver 3;
            bronze 4;
        }
        label-switched-path r5-to-r1 {
            to 172.27.255.1;
            ldp-tunneling;
            bandwidth 450m;
            link-protection;
        }
        label-switched-path r5-to-r3 {
            to 172.27.255.3;
        }
        label-switched-path r5-to-r4 {
            to 172.27.255.4;
            ldp-tunneling;
        }
        interface all;
        interface ge-0/0/1.0 {
            admin-group plat;
        }
        interface ge-0/0/2.0 {
            admin-group gold;
        }
    }
    bgp {
        group internal {
            type internal;
            local-address 172.27.255.5;
            export nhs;
            neighbor 172.27.255.1;
            neighbor 172.27.255.2;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
        }
    }
    ospf {
        traffic-engineering;
        area 0.0.0.0 {
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
            interface lo0.0;
        }
    }
    ldp {
        interface lo0.0;
    }
}
policy-options {
    policy-statement nhs {
        from {
            protocol bgp;
            neighbor 172.27.0.50;
        }
        then {
            next-hop self;
            accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}

