system {
    host-name vr-device;
    root-authentication {
        encrypted-password "$1$eASEA2cq$c1TkoxgDnKV6auHCSLNoa."; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$OVZ1DkLF$qxw7Ai87BoypT40Pf92Cz1"; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Peer 1 to R1";
        unit 0 {
            family inet {
                address 172.27.0.30/30;
            }
        }
    }
    ge-0/0/2 {
        description "CE3 to R1";
        unit 0 {
            family inet {
                address 172.27.0.34/30;
            }
        }
    }
    ge-0/0/3 {
        description "Transit 1 to R2";
        unit 0 {
            family inet {
                address 172.27.0.38/30;
            }
        }
    }
    ge-0/0/4 {
        description "VPLS CE1 to R2";
        vlan-tagging;
        unit 0 {
            vlan-id 200;
            family inet {
                address 51.100.0.1/24;
            }
        }
    }
    ge-0/0/5 {
        description "Customer 1 to R3";
        unit 0 {
            family inet {
                address 172.27.0.58/30;
            }
            family mpls;
        }
    }
    ge-0/0/6 {
        vlan-tagging;
        unit 0 {
            vlan-id 200;
        }
    }
    ge-0/0/7 {
        description "CE2 MPLS VPN";
        unit 0 {
            family inet {
                address 172.27.0.42/30;
            }
        }
    }
    ge-0/0/8 {
        description "CE1 MPLS VPN";
        unit 0 {
            family inet {
                address 172.27.0.46/30;
            }
        }
    }
    ge-0/0/9 {
        description "Customer 2 to R5";
        unit 0 {
            family inet {
                address 172.27.0.50/30;
            }
        }
    }
    ge-0/0/10 {
        description "VPLS CE2";
        vlan-tagging;
        unit 0 {
            vlan-id 200;
            family inet {
                address 51.100.0.2/24;
            }
        }
    }
    ge-0/0/11 {
        description "connection to CE2";
        vlan-tagging;
        unit 0 {
            vlan-id 100;
            family inet {
                address 65.100.0.1/30;
            }
        }
        unit 1 {
            vlan-id 200;
            family inet {
                address 85.100.5.1/30;
            }
            family mpls;
        }
    }
    ge-0/0/12 {
        description "connection to CE1";
        vlan-tagging;
        unit 0 {
            vlan-id 100;
            family inet {
                address 65.100.0.2/30;
            }
        }
        unit 1 {
            vlan-id 200;
            family inet {
                address 85.100.5.2/30;
            }
            family mpls;
        }
    }
    lo0 {
        unit 1 {
            family inet {
                address 65.100.255.1/32;
            }
        }
        unit 2 {
            family inet {
                address 65.100.255.2/32;
            }
        }
        unit 3 {
            family inet {
                address 65.100.255.3/32;
            }
        }
        unit 4 {
            family inet {
                address 65.100.255.4/32;
            }
        }
        unit 5 {
            family inet {
                address 51.100.0.253/32;
            }
        }
        unit 6 {
            family inet {
                address 51.100.0.254/32;
            }
        }
        unit 7 {
            family inet {
                address 85.100.255.7/32;
            }
        }
        unit 8 {
            family inet {
                address 95.100.255.1/32;
            }
        }
        unit 9 {
            family inet {
                address 95.100.255.2/32;
            }
        }
        unit 10 {
            family inet {
                address 85.100.255.1/32;
            }
        }
    }
}
routing-options {
    rib-groups {
        copy {
            import-rib [ P-1.inet.0 P-1.inet.3 ];
        }
    }
    autonomous-system 60001;
}
protocols {
    mpls {
        interface all;
    }
    bgp {
        group external {
            type external;
            multihop {
                ttl 5;
            }
            family inet {
                unicast;
            }
            family inet-vpn {
                unicast;
            }
            neighbor 172.27.255.1 {
                local-address 95.100.255.2;
                peer-as 3895077211;
            }
        }
        group internal {
            type internal;
            family inet {
                unicast;
                labeled-unicast {
                    rib {
                        inet.3;
                    }
                }
            }
            neighbor 95.100.255.1 {
                local-address 95.100.255.2;
            }
        }
    }
    ospf {
        area 0.0.0.0 {
            interface lo0.9;
            interface ge-0/0/12.1;
        }
    }
    ldp {
        preference 150;
        interface ge-0/0/12.1;
        interface lo0.9;
    }
}
policy-options {
    policy-statement export-85 {
        from {
            protocol static;
            route-filter 85.100.0.0/16 orlonger;
        }
        then accept;
    }
    policy-statement export-from-Customer {
        from {
            protocol static;
            route-filter 176.100.0.0/16 orlonger;
        }
        then accept;
    }
    policy-statement export-from-Customer2 {
        from {
            protocol static;
            route-filter 177.100.0.0/16 orlonger;
        }
        then accept;
    }
    policy-statement export-from-Provider {
        from {
            protocol static;
            route-filter 174.100.0.0/16 orlonger;
        }
        then accept;
    }
    policy-statement export-from-Transit {
        from {
            protocol static;
            route-filter 175.100.0.0/16 orlonger;
        }
        then accept;
    }
    policy-statement export-local {
        term 1 {
            from {
                protocol static;
                route-filter 65.100.0.0/16 orlonger;
            }
            then accept;
        }
    }
    policy-statement export-loopbacks {
        term 1 {
            from {
                protocol [ ospf local direct ];
                route-filter 95.100.255.2/32 exact;
            }
            then accept;
        }
        term 2 {
            from {
                rib P-1.inet.3;
                route-filter 95.100.255.2/32 exact;
            }
            then accept;
        }
        term 3 {
            then reject;
        }
    }
    policy-statement nhs {
        from {
            protocol bgp;
            neighbor 172.27.0.57;
        }
        then {
            next-hop self;
            accept;
        }
    }
    policy-statement redis-direct {
        term 1 {
            from protocol direct;
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
routing-instances {
    CE-1 {
        instance-type virtual-router;
        interface ge-0/0/8.0;
        interface ge-0/0/11.0;
        interface lo0.1;
        routing-options {
            static {
                route 65.100.0.0/24 reject;
                route 65.100.1.0/24 reject;
                route 65.100.2.0/24 reject;
                route 65.100.3.0/24 reject;
                route 65.100.4.0/24 reject;
            }
            autonomous-system 65100;
        }
        protocols {
            ospf {
                export export-local;
                area 0.0.0.0 {
                    interface lo0.1;
                    interface ge-0/0/8.0;
                    interface ge-0/0/11.0 {
                        metric 10;
                    }
                }
            }
        }
    }
    CE-2 {
        instance-type virtual-router;
        interface ge-0/0/7.0;
        interface ge-0/0/12.0;
        interface lo0.2;
        routing-options {
            static {
                route 65.100.5.0/24 reject;
                route 65.100.6.0/24 reject;
                route 65.100.7.0/24 reject;
                route 65.100.8.0/24 reject;
                route 65.100.9.0/24 reject;
            }
        }
        protocols {
            ospf {
                export export-local;
                area 0.0.0.0 {
                    interface lo0.2;
                    interface ge-0/0/7.0;
                    interface ge-0/0/12.0 {
                        metric 10;
                    }
                }
            }
        }
    }
    CE-3 {
        instance-type virtual-router;
        interface ge-0/0/9.0;
        interface lo0.3;
        routing-options {
            static {
                route 65.100.10.0/24 reject;
                route 65.100.11.0/24 reject;
                route 65.100.12.0/24 reject;
                route 65.100.13.0/24 reject;
                route 65.100.14.0/24 reject;
            }
            autonomous-system 65100;
        }
        protocols {
            bgp {
                group external {
                    type external;
                    export [ export-local redis-direct ];
                    peer-as 3895077211;
                    neighbor 172.27.0.49;
                }
            }
        }
    }
    CE-4 {
        instance-type virtual-router;
        interface ge-0/0/2.0;
        interface lo0.4;
        routing-options {
            static {
                route 65.100.15.0/24 reject;
                route 65.100.16.0/24 reject;
                route 65.100.17.0/24 reject;
                route 65.100.18.0/24 reject;
                route 65.100.19.0/24 reject;
            }
            autonomous-system 65100;
        }
        protocols {
            bgp {
                group external {
                    type external;
                    export [ export-local redis-direct ];
                    peer-as 3895077211;
                    neighbor 172.27.0.33;
                }
            }
        }
    }
    CE-5 {
        instance-type virtual-router;
        interface ge-0/0/4.0;
        interface lo0.5;
    }
    CE-6 {
        instance-type virtual-router;
        interface ge-0/0/10.0;
        interface lo0.6;
    }
    CE-7 {
        instance-type virtual-router;
        interface ge-0/0/1.0;
        interface lo0.7;
        routing-options {
            static {
                route 85.100.0.0/24 reject;
                route 85.100.1.0/24 reject;
                route 85.100.2.0/24 reject;
                route 85.100.3.0/24 reject;
                route 85.100.4.0/24 reject;
            }
            autonomous-system 50001;
        }
        protocols {
            bgp {
                group external {
                    type external;
                    export export-85;
                    neighbor 172.27.0.29 {
                        peer-as 3895077211;
                    }
                }
            }
        }
    }
    CE-8 {
        instance-type vrf;
        interface lo0.10;
        route-distinguisher 95.100.255.2:500;
        vrf-target target:60001:101;
        vrf-table-label;
        routing-options {
            static {
                route 85.100.5.0/24 reject;
                route 85.100.6.0/24 reject;
                route 85.100.7.0/24 reject;
                route 85.100.8.0/24 reject;
                route 85.100.9.0/24 reject;
            }
            autonomous-system 60001;
        }
    }
    P-1 {
        instance-type virtual-router;
        interface ge-0/0/5.0;
        interface ge-0/0/11.1;
        interface lo0.8;
        routing-options {
            autonomous-system 60001;
        }
        protocols {
            bgp {
                group external {
                    type external;
                    family inet {
                        unicast;
                        labeled-unicast {
                            rib {
                                inet.3;
                            }
                        }
                    }
                    export export-loopbacks;
                    neighbor 172.27.0.57 {
                        peer-as 3895077211;
                    }
                }
                group internal {
                    type internal;
                    family inet {
                        unicast;
                        labeled-unicast {
                            rib {
                                inet.3;
                            }
                        }
                    }
                    export nhs;
                    neighbor 95.100.255.2 {
                        local-address 95.100.255.1;
                    }
                }
            }
            ospf {
                area 0.0.0.0 {
                    interface ge-0/0/11.1;
                    interface lo0.8;
                }
            }
            ldp {
                preference 150;
                interface ge-0/0/11.1;
                interface lo0.8;
            }
        }
    }
}

