groups {
    ISO-MPLS {
        interfaces {
            <ge-*> {
                unit <*> {
                    family iso;
                    family mpls;
                }
            }
            <ae*> {
                unit <*> {
                    family iso;
                    family mpls;
                }
            }
        }
    }
}
apply-groups ISO-MPLS;
system {
    host-name R2;
    time-zone America/Los_Angeles;
    debugger-on-panic;
    debugger-on-break;
    dump-on-panic;
    root-authentication {
        encrypted-password "$1$0fYrQHu/$11TSWA92qWG40upKKkmub0"; ## SECRET-DATA
    }
    name-server {
        8.8.8.8;
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$6oFJiO42$R9CAcGzU9BKWvrPJoxI8T0"; ## SECRET-DATA
            }
        }
        user ops {
            uid 2003;
            class operator;
            authentication {
                encrypted-password "$1$bgkgt/0X$nKBhWUg46anDzxpRijCwA1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        host log {
            any notice;
            kernel info;
            pfe info;
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
            kernel info;
            pfe info;
            archive world-readable;
        }
        file security {
            interactive-commands any;
            archive world-readable;
        }
    }
    archival {
        configuration {
            transfer-on-commit;
            archive-sites {
                "ftp://tftp:tftp@10.233.255.254/active/configset";
            }
        }
    }
}
chassis {
    dump-on-panic;
}
interfaces {
    ge-0/0/1 {
        description "Connection to R1";
        unit 0 {
            family inet {
                address 172.27.0.2/30;
            }
            family inet6;
            family mpls;
        }
    }
    ge-0/0/2 {
        description "Connection to T2";
        unit 0 {
            family inet {
                address 172.27.0.37/30;
            }
            family inet6 {
                address ::172.27.0.37/126;
            }
        }
    }
    ge-0/0/3 {
        description "Connection to T1";
        unit 0 {
            family inet {
                address 172.27.0.65/30;
            }
            family inet6 {
                address ::172.27.0.65/126;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.5/30;
            }
            family inet6;
            family mpls;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.2/32;
            }
            family iso {
                address 49.2008.1720.2725.5002.00;
            }
        }
    }
}
routing-options {
    rib inet6.0 {
        aggregate {
            route 2008:4498::/32;
        }
    }
    aggregate {
        route 172.27.0.0/16;
    }
    router-id 172.27.255.2;
    autonomous-system 3895077211;
}
protocols {
    mpls {
        ipv6-tunneling;
        interface ge-0/0/1.0;
        interface ge-0/0/4.0;
    }
    bgp {
        log-updown;
        group IBGP {
            type internal;
            local-address 172.27.255.2;
            family inet {
                unicast;
            }
            family inet6 {
                labeled-unicast {
                    explicit-null;
                }
            }
            authentication-key "$9$R01crvxNboJDWLJDikTQEcy"; ## SECRET-DATA
            export NHS;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
        }
        group T1-T2 {
            type external;
			accept-remote-nexthop;
            peer-as 1342930876;
            multipath;
            neighbor 172.27.0.66 {
                import [ accept-T1-ipv6 from-T1 ];
                export to-T1;
            }
            neighbor 172.27.0.38 {
                import [ accept-T2-ipv6 from-T2];
                export to-T2;
            }
        }
    }
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/1.0;
            interface ge-0/0/4.0;
        }
    }
    ldp {
        preference 20;
        track-igp-metric;
        interface ge-0/0/1.0;
        interface ge-0/0/4.0;
    }
}
policy-options {
    policy-statement NHS {
        term 1 {
            from {
                protocol bgp;
                route-type external;
            }
            then {
                next-hop self;
            }
        }
    }
	policy-statement accept-T1-ipv6 {
		term 1 {
			from {
				family inet6;
				protocol bgp;
			}
			then {
				next-hop ::172.27.0.66;
				accept;
			}
		}
	}
	policy-statement accept-T2-ipv6 {       
		term 1 {
			from {
				family inet6;
				protocol bgp;
			}
			then {
				next-hop ::172.27.0.38;
				accept;
			}
		}
	}
    policy-statement from-T1 {
        term 1 {
            from {
                as-path AS1342930876;
                route-filter 0.0.0.0/0 prefix-length-range /8-/24;
            }
            to rib inet.0;
            then accept;
        }
        term 2 {
            to rib inet6.0;
            then accept;
        }
        term 3 {
            then reject;
        }
    }                                   
    policy-statement from-T2 {
        term 1 {
            from {
                as-path AS1342930876;
                route-filter 0.0.0.0/0 prefix-length-range /8-/24;
            }
            to rib inet.0;
            then accept;
        }
        term 2 {
            to rib inet6.0;
            then accept;
        }
        term 3 {
            then reject;
        }
    }
    policy-statement to-T1 {
        term 1 {
            from {
                protocol aggregate;
                route-filter 172.27.0.0/16 exact;
            }
            then accept;
        }
        term 2 {
            from {
                protocol aggregate;
                rib inet6.0;
                route-filter 2008:4498::/32 exact;
            }
            then accept;
        }
        term 3 {
            from {
                rib inet6.0;
                route-filter 2008:4498::/32 longer;
            }
            then reject;
        }
    }
    policy-statement to-T2 {
        term 1 {
            from {
                protocol aggregate;
                route-filter 172.27.0.0/16 exact;
            }
            then accept;
        }
        term 2 {
            from {
                protocol aggregate;
                rib inet6.0;
                route-filter 2008:4498::/32 exact;
            }
            then accept;
        }
        term 3 {
            from {
                rib inet6.0;
                route-filter 2008:4498::/32 longer;
            }
            then reject;
        }
    }
    as-path AS1342930876 1342930876+;
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
