groups {
    ISO-MPLS {
        interfaces {
            <ge-*> {
                unit <*> {
                    family iso;
                    family mpls;
                }
            }
            <ae*> {
                unit <*> {
                    family iso;
                    family mpls;
                }
            }
        }
    }
}
apply-groups ISO-MPLS;
system {
    host-name R3;
    time-zone America/Los_Angeles;
    debugger-on-panic;
    debugger-on-break;
    dump-on-panic;
    root-authentication {
        encrypted-password "$1$f7uo9x0W$j7r0p8AVKLao.XOdGGn0B."; ## SECRET-DATA
    }
    name-server {
        8.8.8.8;
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$6oFJiO42$R9CAcGzU9BKWvrPJoxI8T0"; ## SECRET-DATA
            }
        }
        user ops {
            uid 2003;
            class operator;
            authentication {
                encrypted-password "$1$d2bZK78F$43wagjkCwWHUGWdznrUaB0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        host log {
            any notice;
            kernel info;
            pfe info;
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
            kernel info;
            pfe info;
            archive world-readable;
        }
        file security {
            interactive-commands any;
            archive world-readable;
        }
    }
    archival {
        configuration {
            transfer-on-commit;
            archive-sites {
                "ftp://tftp:tftp@10.233.255.254/active/configset";
            }
        }
    }
}
chassis {
    dump-on-panic;
}
interfaces {
    ge-0/0/1 {
        description "Connection to R1";
        unit 0 {
            family inet {
                address 172.27.0.13/30;
            }
            family inet6;
            family mpls;
        }
    }
    ge-0/0/2 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.17/30;
            }
            family inet6;
            family mpls;
        }
    }
    ge-0/0/3 {
        description "Connection to R5";
        unit 0 {
            family inet {
                address 172.27.0.26/30;
            }
            family inet6;
            family mpls;
        }
    }
    ge-0/0/4 {
        description "Connection to C1";
        unit 0 {
            family inet6 {
                address 2008:4498::1/64;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to P";
        unit 0 {
            family inet {
                address 172.27.0.61/30;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.3/32;
            }
            family iso {
                address 49.2008.1720.2725.5003.00;
            }
        }
    }
}
routing-options {
    aggregate {
        route 172.27.0.0/16;
    }
    router-id 172.27.255.3;
    autonomous-system 3895077211;
}
protocols {
    mpls {
        ipv6-tunneling;
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
        interface ge-0/0/3.0;
    }
    bgp {
        log-updown;
        group Clients {
            type internal;
            local-address 172.27.255.3;
            family inet {
                unicast;
            }
            family inet6 {
                labeled-unicast {
                    explicit-null;
                }
            }
            authentication-key "$9$H.fz9A0hSe36SevW-dk.P"; ## SECRET-DATA
            export [ NHS IPv6-DIRECT ];
            cluster 0.0.0.1;
            neighbor 172.27.255.1;
            neighbor 172.27.255.2;
            neighbor 172.27.255.5;
        }
        group P {
            type external;
            export to-P;
            peer-as 2087403078;
            neighbor 172.27.0.62;
        }
        group C1 {
            type external;
            family inet6 {
                unicast {
                    prefix-limit {
                        maximum 12;
                    }
                }
            }
            peer-as 65432;
            as-override;
            neighbor 2008:4498::2;
        }
    }
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
            interface lo0.0;
        }
        area 0.0.0.1 {
            stub default-metric 10 no-summaries;
            interface ge-0/0/3.0;
        }
    }
    ldp {
        preference 20;
        track-igp-metric;
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
        interface ge-0/0/3.0;
    }
}
policy-options {
    policy-statement IPv6-DIRECT {
        term 1 {
            from {
                protocol direct;
                rib inet6.0;
            }
            then accept;
        }
    }
    policy-statement NHS {
        term 1 {
            from {
                protocol bgp;
                route-type external;
            }
            then {
                next-hop self;
            }
        }
    }
    policy-statement to-P {
        term 1 {
            from {
                protocol aggregate;
                route-filter 172.27.0.0/16 exact;
            }
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
