groups {
    ISO-MPLS {
        interfaces {
            <ge-*> {
                unit <*> {
                    family iso;
                    family mpls;
                }
            }
            <ae*> {
                unit <*> {
                    family iso;
                    family mpls;
                }
            }
        }
    }
}
apply-groups ISO-MPLS;
system {
    host-name R4;
    time-zone America/Los_Angeles;
    debugger-on-panic;
    debugger-on-break;
    dump-on-panic;
    root-authentication {
        encrypted-password "$1$ql6PxZ8S$kPUjTZ7dB5/izEvgE1MUr0"; ## SECRET-DATA
    }
    name-server {
        8.8.8.8;
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$6oFJiO42$R9CAcGzU9BKWvrPJoxI8T0"; ## SECRET-DATA
            }
        }
        user ops {
            uid 2003;
            class operator;
            authentication {
                encrypted-password "$1$0G5Xh6uV$ZuRusfXsFCCx.i4i6IpNI1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        host log {
            any notice;
            kernel info;
            pfe info;
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
            kernel info;
            pfe info;
            archive world-readable;
        }
        file security {
            interactive-commands any;
            archive world-readable;
        }
    }
    archival {
        configuration {
            transfer-on-commit;
            archive-sites {
                "ftp://tftp:tftp@10.233.255.254/active/configset";
            }
        }
    }
}
chassis {
    dump-on-panic;
    aggregated-devices {
        ethernet {
            device-count 1;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R2";
        unit 0 {
            family inet {
                address 172.27.0.6/30;
            }
            family inet6;
            family mpls;
        }
    }
    ge-0/0/2 {
        description "Connection to C3";
        unit 0 {
            family inet6 {
                address 2008:4498:0:1::1/64;
            }
        }
    }
    ge-0/0/4 {
        description "Connection to R5";
        unit 0 {
            family inet {
                address 172.27.0.21/30;
            }
            family inet6;
            family mpls;
        }
    }
    ge-0/0/5 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.18/30;
            }
            family inet6;
            family mpls;
        }
    }
    ge-0/0/6 {
        description "AE to R1";
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/7 {
        description "AE to R1";
        gigether-options {
            802.3ad ae0;
        }
    }
    ae0 {
        description "Connection to R1";
        aggregated-ether-options {
            lacp {
                passive;
            }
        }
        unit 0 {
            family inet {
                address 172.27.0.9/30;
            }
            family inet6;
            family mpls;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.4/32;
            }
            family iso {
                address 49.2008.1720.2725.5004.00;
            }
        }
    }
}
routing-options {
	aggregate {
		route 172.27.0.0/16;
	}
    router-id 172.27.255.4;
    autonomous-system 3895077211;
}
protocols {
    mpls {
        ipv6-tunneling;
        interface ge-0/0/1.0;
        interface ge-0/0/4.0;
        interface ge-0/0/5.0;
        interface ae0.0;
    }
    bgp {
        log-updown;
        group Clients {
            type internal;
            local-address 172.27.255.4;
            family inet {
                unicast;
            }
            family inet6 {
                labeled-unicast {
                    explicit-null;
                }
            }
            authentication-key "$9$R01crvxNboJDWLJDikTQEcy"; ## SECRET-DATA
            export [ NHS IPv6-DIRECT ];
            cluster 0.0.0.1;
            neighbor 172.27.255.1;
            neighbor 172.27.255.2;
            neighbor 172.27.255.5;
        }
        group C3 {
            type external;
            family inet6 {
                unicast {
                    prefix-limit {
                        maximum 12;
                        teardown idle-timeout 5;
                    }
                }
            }
            peer-as 65432;
            as-override;
            neighbor 2008:4498:0:1::2;
        }
    }
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/1.0;
            interface ge-0/0/5.0;
            interface ae0.0;
            interface lo0.0;
        }
        area 0.0.0.1 {
            stub default-metric 10 no-summaries;
            interface ge-0/0/4.0;
        }
    }
    ldp {
        preference 20;
        track-igp-metric;
        interface ge-0/0/1.0;
        interface ge-0/0/4.0;
        interface ge-0/0/5.0;
        interface ae0.0;
    }
}
policy-options {
    policy-statement IPv6-DIRECT {
        term 1 {
            from {
                protocol direct;
                rib inet6.0;
            }
            then accept;
        }
    }
    policy-statement NHS {
        term 1 {
            from protocol bgp;
            then {
                next-hop self;
            }
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
