groups {
    ISO-MPLS {
        interfaces {
            <ge-*> {
                unit <*> {
                    family iso;
                    family mpls;
                }
            }
            <ae*> {
                unit <*> {
                    family iso;
                    family mpls;
                }
            }
        }
    }
}
apply-groups ISO-MPLS;
system {
    host-name R5;
    time-zone America/Los_Angeles;
    debugger-on-panic;
    debugger-on-break;
    dump-on-panic;
    root-authentication {
        encrypted-password "$1$27.8SbkK$0UoXJVzD7vuVV/WrNE4Fm1"; ## SECRET-DATA
    }
    name-server {
        8.8.8.8;
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$6oFJiO42$R9CAcGzU9BKWvrPJoxI8T0"; ## SECRET-DATA
            }
        }
        user ops {
            uid 2003;
            class operator;
            authentication {
                encrypted-password "$1$r/VC3u0V$P2sVpy1d7SXkyTkhvD8MM1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        host log {
            any notice;
            kernel info;
            pfe info;
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
            kernel info;
            pfe info;
            archive world-readable;
        }
        file security {
            interactive-commands any;
            archive world-readable;
        }
    }
    archival {
        configuration {
            transfer-on-commit;
            archive-sites {
                "ftp://tftp:tftp@10.233.255.254/active/configset";
            }
        }
    }
}
chassis {
    dump-on-panic;
}
interfaces {
    ge-0/0/1 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.25/30;
            }
            family mpls;
        }
    }
    ge-0/0/2 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.22/30;
            }
            family mpls;
        }
    }
    ge-0/0/4 {
        description "Connection to C2 Link 1";
        unit 0 {
            family inet {
                address 172.27.0.49/30;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to C2 Link 2";
        unit 0 {
            family inet {
                address 172.27.0.73/30;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.5/32;
            }
            family iso {
                address 49.2008.1720.2725.5005.00;
            }
        }
    }
}
routing-options {
    static {
        route 202.202.0.1/32 next-hop [ 172.27.0.50 172.27.0.74 ];
    }
    aggregate {
        route 172.27.0.0/16;
    }
    router-id 172.27.255.5;
    autonomous-system 3895077211;
}
protocols {
    mpls {
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
    }
    bgp {
        log-updown;
        group IBGP {
            type internal;
            local-address 172.27.255.5;
            authentication-key "$9$R01crvxNboJDWLJDikTQEcy"; ## SECRET-DATA
            export NHS;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
        }
        group C2 {
            type external;
            local-address 172.27.255.5;
            export to-C2;
            peer-as 65512;
            neighbor 202.202.0.1;
        }
    }
    ospf {
        area 0.0.0.1 {
            stub;
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
            interface lo0.0;
        }
    }
    ldp {
        preference 20;
        track-igp-metric;
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
    }
}
policy-options {
    policy-statement NHS {
        term 1 {
            from {
                protocol bgp;
                route-type external;
            }
            then {
                next-hop self;
            }
        }
    }
    policy-statement to-C2 {
        term 1 {
            from {
                protocol aggregate;
                route-filter 172.27.0.0/16 exact;
            }
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
