system {
    host-name R1;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$OpUof7yc$MuD5dgjbSbYuYf/7TWdMv/"; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to Peer";
        unit 0 {
            family inet {
                address 172.27.0.29/30;
            }
        }
    }
    ge-0/0/2 {
        description "Connection to CE3 L3VPN";
        unit 0 {
            family inet {
                address 172.27.0.33/30;
            }
        }
    }
    ge-0/0/3 {
        description "Connection to R2";
        unit 0 {
            family inet {
                address 172.27.0.1/30;
            }
            family mpls;
        }
    }
    ge-0/0/4 {
        description "Connection to R4 AE";
    }
    ge-0/0/5 {
        description "Connection to R4 AE";
    }
    ge-0/0/6 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.14/30;
            }
            family mpls;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.1/32;
            }
        }
    }
}
protocols {
    mpls {
        interface all;
    }
    bgp {
        group EBGP {
            export 2bgp;
            peer-as 2;
            local-as 1;
            neighbor 172.27.0.30;
        }
        group IBGP {
            type internal;
            local-address 172.27.255.1;
            local-as 1;
            neighbor 172.27.255.2;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
            neighbor 172.27.255.5;
        }
    }
    ospf {
        area 0.0.0.0 {
            interface all;
            interface ge-0/0/0.0 {
                disable;
            }
        }
    }
    ldp {
        interface all;
    }
}
policy-options {
    policy-statement 2bgp {
        term 1 {
            from protocol [ ospf direct local ];
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
