system {
    host-name R2;
    root-authentication {
        encrypted-password "$1$Ty0dAscu$XfVw7UwNErAEqkNKhaqgI/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$NbkYzj6w$F5YmnC9LW0VNx0UBe1kov."; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 172.27.0.2/30;
            }
            family mpls;
        }
    }
    ge-0/0/2 {
        description "Connection to transit router";
        unit 0 {
            family inet {
                address 172.27.0.37/30;
            }
            family mpls;
        }
    }
    ge-0/0/3 {
        description "Connection to CE1 VPLS";
        vlan-tagging;
        encapsulation vlan-vpls;
        unit 0 {
            encapsulation vlan-vpls;
            vlan-id 800;
            family vpls;
        }
    }
    ge-0/0/4 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.5/30;
            }
            family mpls;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.2/32;
            }
        }
    }
}
protocols {
    mpls {
        interface all;
    }
    bgp {
        group IBGP {
            type internal;
            local-address 172.27.255.2;
            local-as 1;
            neighbor 172.27.255.1;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
            neighbor 172.27.255.5 {
                family inet {
                    any;
                }
                family l2vpn {
                    signaling;
                }
            }
        }
    }
    ospf {
        area 0.0.0.0 {
            interface all;
            interface ge-0/0/0.0 {
                disable;
            }
        }
    }
    ldp {
        interface all;
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
routing-instances {
    vpls {
        instance-type vpls;
        interface ge-0/0/3.0;
        route-distinguisher 1:1;
        vrf-target target:1:1;
        protocols {
            vpls {
                site-range 10;
                no-tunnel-services;
                site R5 {
                    site-identifier 2;
                    interface ge-0/0/3.0;
                }
            }
        }
    }
}
