system {
    host-name R5;
    root-authentication {
        encrypted-password "$1$8ssVjZsm$kRo89vwqwFhdmfXpdMnuA/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$7w0anrd9$R5sn2gh/1Am59Dh3R.KJ.0"; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.25/30;
            }
            family mpls;
        }
    }
    ge-0/0/2 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.22/30;
            }
            family mpls;
        }
    }
    ge-0/0/3 {
        description "L3VPN CE1";
        unit 0 {
            family inet {
                address 172.27.0.45/30;
            }
        }
    }
    ge-0/0/4 {
        description "Customer router";
        unit 0 {
            family inet {
                address 172.27.0.49/30;
            }
        }
    }
    ge-0/0/5 {
        description "VPLS CE2";
        vlan-tagging;
        encapsulation vlan-vpls;
        unit 0 {
            encapsulation vlan-vpls;
            vlan-id 800;
            family vpls;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.5/32;
            }
        }
    }
}
protocols {
    mpls {
        interface all;
    }
    bgp {
        group EBGP {
            export 2bgp;
            peer-as 3;
            local-as 1;
            neighbor 172.27.0.50;
        }
        group IBGP {
            type internal;
            local-address 172.27.255.5;
            local-as 1;
            neighbor 172.27.255.1;
            neighbor 172.27.255.3;
            neighbor 172.27.255.2 {
                family inet {
                    any;
                }
                family l2vpn {
                    signaling;
                }
            }
            neighbor 172.27.255.4;
        }
    }
    ospf {
        area 0.0.0.0 {
            interface all;
            interface ge-0/0/0.0 {
                disable;
            }
        }
    }
    ldp {
        interface all;
    }
}
policy-options {
    policy-statement 2bgp {
        term 1 {
            from protocol [ ospf direct local ];
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
routing-instances {
    vpls {
        instance-type vpls;
        interface ge-0/0/5.0;
        route-distinguisher 1:1;
        vrf-target target:1:1;
        protocols {
            vpls {
                site-range 10;
                no-tunnel-services;
                site R5 {
                    site-identifier 5;
                    interface ge-0/0/5.0;
                }
            }
        }
    }
}
