## Last changed: 2011-08-01 17:00:41 UTC
version 10.3D0;
system {
    host-name vrdevice;
    root-authentication {
        encrypted-password "$1$eASEA2cq$c1TkoxgDnKV6auHCSLNoa."; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class operator;
            authentication {
                encrypted-password "$1$gKGpII0O$UQTHd78OCqD1GCmcksynJ1"; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Peer 1 to R1";
        unit 0 {
            family inet {
                address 172.27.0.30/30;
            }
        }
    }
    ge-0/0/2 {
        description "CE3 to R1";
        unit 0 {
            family inet {
                address 172.27.0.34/30;
            }
        }
    }
    ge-0/0/3 {
        description "Transit 1 to R2";
        unit 0 {
            family inet {
                address 172.27.0.38/30;
            }
        }
    }
    ge-0/0/4 {
        description "VPLS CE1 to R2";
        vlan-tagging;
        unit 0 {
            vlan-id 800;
            family inet {
                address 192.168.1.1/24;
            }
        }
    }
    ge-0/0/5 {
        description "Customer 1 to R3";
        unit 0 {
            family inet {
                address 172.27.0.58/30;
            }
        }
    }
    ge-0/0/6 {
        description "VPLS CE1 to R4";
        unit 0 {
            family inet {
                address 192.168.1.2/24;
            }
        }
    }
    ge-0/0/7 {
        description "CE2 MPLS VPN";
        unit 0 {
            family inet {
                address 172.27.0.42/30;
            }
        }
    }
    ge-0/0/8 {
        description "CE1 MPLS VPN";
        unit 0 {
            family inet {
                address 172.27.0.46/30;
            }
        }
    }
    ge-0/0/9 {
        description "Customer 2 to R5";
        unit 0 {
            family inet {
                address 172.27.0.50/30;
            }
        }
    }
    ge-0/0/10 {
        description "VPLS CE2";
        vlan-tagging;
        unit 0 {
            vlan-id 800;
            family inet {
                address 192.168.1.3/24;
            }
        }
    }
    ge-0/0/11 {
        unit 0 {
            family inet {
                address 10.0.0.1/30;
            }
        }
    }
    ge-0/0/12 {
        description "connection to CE1";
        unit 0 {
            family inet {
                address 10.0.0.2/30;
            }
        }
    }
    ge-0/0/13 {
        unit 0 {
            family inet {
                address 138.1.2.10/24;
            }
        }
    }
    lo0 {
        unit 1 {
            description C1;
            family inet {
                address 3.3.3.3/32;
            }
        }
        unit 2 {
            description C2;
            family inet {
                address 2.2.2.2/32;
            }
        }
    }
}
policy-options {
    policy-statement direct2bgp {
        term 1 {
            from protocol direct;
            then accept;
        }
    }
}
class-of-service {
    interfaces {
        ge-0/0/4 {
            unit 0 {
                rewrite-rules {
                    ieee-802.1 vpls;
                }
            }
        }
        ge-0/0/6 {
            unit 0 {
                rewrite-rules {
                    ieee-802.1 vpls;
                }
            }
        }
    }
    rewrite-rules {
        ieee-802.1 vpls {
            forwarding-class network-control {
                loss-priority low code-point 101;
                loss-priority medium-high code-point 101;
                loss-priority medium-low code-point 101;
                loss-priority high code-point 101;
            }
            forwarding-class best-effort {
                loss-priority low code-point 101;
                loss-priority medium-high code-point 101;
                loss-priority medium-low code-point 101;
                loss-priority high code-point 101;
            }
            forwarding-class assured-forwarding {
                loss-priority low code-point 101;
                loss-priority medium-high code-point 101;
                loss-priority medium-low code-point 101;
                loss-priority high code-point 101;
            }
            forwarding-class expedited-forwarding {
                loss-priority low code-point 101;
                loss-priority medium-high code-point 101;
                loss-priority medium-low code-point 101;
                loss-priority high code-point 101;
            }
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
routing-instances {
    C1 {
        instance-type virtual-router;
        interface ge-0/0/9.0;
        interface lo0.1;
        routing-options {
            autonomous-system 3;
        }
        protocols {
            bgp {
                group R5 {
                    export direct2bgp;
                    peer-as 1;
                    neighbor 172.27.0.49;
                }
            }
        }
    }
    C2 {
        instance-type virtual-router;
        interface ge-0/0/1.0;
        interface lo0.2;
        routing-options {
            autonomous-system 2;
        }
        protocols {
            bgp {
                group R1 {
                    type external;
                    export direct2bgp;
                    peer-as 1;
                    neighbor 172.27.0.29;
                }
            }
        }
    }
    L3VPN-CE1 {
        instance-type virtual-router;
        interface ge-0/0/8.0;
        interface ge-0/0/11.0;
    }
    L3VPN-CE2 {
        instance-type virtual-router;
        interface ge-0/0/7.0;
        interface ge-0/0/12.0;
    }
    L3VPN-CE3 {
        instance-type virtual-router;
        interface ge-0/0/2.0;
    }
    VPLS-CE1 {
        instance-type virtual-router;
        interface ge-0/0/4.0;
    }
    VPLS-CE2 {
        instance-type virtual-router;
        interface ge-0/0/10.0;
    }
    transit1 {
        instance-type virtual-router;
        interface ge-0/0/3.0;
    }
}
