groups {
    ae {
        interfaces {
            <ae*> {
                unit 0 {
                    family iso;
                    family mpls;
                }
            }
        }
    }
}
apply-groups ae;
system {
    host-name R1;
    root-authentication {
        encrypted-password "$1$dGp5qt.O$1dwcWRUqZLjZx5Js6lnID0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any critical;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to Peer";
        unit 0 {
            family inet {
                address 172.27.0.29/30;
            }
        }
    }
    ge-0/0/2 {
        description "Connection to CE3 L3VPN";
        unit 0 {
            family inet {
                address 172.27.0.33/30;
            }
        }
    }
    ge-0/0/3 {
        description "Connection to R2";
        mtu 1514;
        unit 0 {
            description CORE;
            family inet {
                address 172.27.0.1/30;
            }
            family iso;
            family mpls;
        }
    }
    ge-0/0/4 {
        description "Connection to R4 AE1";
    }
    ge-0/0/5 {
        description "Connection to R4 AE1";
    }
    ge-0/0/6 {
        description "Connection to R3";
        mtu 1514;
        unit 0 {
            description CORE;
            family inet {
                address 172.27.0.14/30;
            }
            family iso;
            family mpls;
        }
    }
    ge-0/0/7 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 172.27.155.2/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.1/32;
            }
            family iso {
                address 49.0172.0027.0255.0001.00;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    rsvp {
        interface all;
    }
    mpls {
        label-switched-path R1-R5 {
            to 172.27.255.5;
            no-cspf;
        }
        label-switched-path R1-R2 {
            to 172.27.255.2;
            no-cspf;
            primary R5;
        }
        path R5 {
            172.27.255.5 loose;
        }
        interface all;
    }
    bgp {
        group RR {                      
            type internal;
            local-address 172.27.255.1;
            family inet {
                any;
            }
            family inet-vpn {
                any;
            }
            family inet6 {
                any;
            }
            family l2vpn {
                signaling;
            }
            cluster 1.1.1.1;
            neighbor 172.27.255.2;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
            neighbor 172.27.255.5;
        }
    }
    isis {
        interface all {                 
            level 1 disable;
        }
    }
    ldp {
        interface all;
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}