groups {
    ae {
        interfaces {
            <ae*> {
                unit 0 {
                    family iso;
                    family mpls;
                }
            }
        }
    }
}
apply-groups ae;
system {
    host-name R2;
    root-authentication {
        encrypted-password "$1$Ty0dAscu$XfVw7UwNErAEqkNKhaqgI/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any critical;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Connection to R1";
        mtu 1514;
        unit 0 {
            description CORE;
            family inet {
                address 172.27.0.2/30;
            }
            family iso;
            family mpls;
        }
    }
    ge-0/0/2 {
        description "Connection to transit router";
        unit 0 {
            family inet {
                address 172.27.0.37/30;
            }
			family inet6 {
                address 2008:4498::25/126;
            }
        }
    }
    ge-0/0/3 {
        description "VRRP connection to DC1 & DC2";
    }
    ge-0/0/5 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 172.27.155.3/24;
            }
        }
    }
    ge-0/0/6 {
        description "Connection to R4 AE0";
    }
    ge-0/0/7 {
        description "Connection to R4 AE0";
    }
    ge-0/0/8 {
        description "Connection to R4 AE0";
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.2/32;
            }
            family iso {
                address 49.0172.0027.0255.0002.00;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    rsvp {
        interface all;
    }
    mpls {
        label-switched-path R2-R3 {
            to 172.27.255.3;
            no-cspf;
            primary R4-R5;
        }
        path R4-R5 {
            172.27.255.4 loose;
            172.27.255.5 loose;
        }
        interface all;
    }
    bgp {
        group RR {
            type internal;
            local-address 172.27.255.2;
            family inet {               
                any;
            }
            family inet-vpn {
                any;
            }
            family inet6 {
                any;
            }
            family l2vpn {
                signaling;
            }
            cluster 1.1.1.1;
            neighbor 172.27.255.1;
            neighbor 172.27.255.3;
            neighbor 172.27.255.4;
            neighbor 172.27.255.5;
        }
    }
    isis {
        interface all {
            level 1 disable;
        }
    }                                   
    ldp {
        interface all;
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}