groups {
    ae {
        interfaces {
            <ae*> {
                unit 0 {
                    family iso;
                    family mpls;
                }
            }
        }
    }
}
apply-groups ae;
system {
    host-name R4;
    root-authentication {
        encrypted-password "$1$qoqf.6Q9$koG9qVmkLNlmsy7AG6VfT/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$5w8f03Iz$hNTMYtS1nEcT3pFkj4B/l1"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any critical;
        }
    }
}
interfaces {
    ge-0/0/2 {
        description "VRRP connection to DC1 & DC2";
    }
    ge-0/0/3 {
        description "L3VPN CE2";
        unit 0 {
            family inet {
                address 172.27.0.41/30;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to R3";
        mtu 1514;
        unit 0 {
            description CORE;
            family inet {
                address 172.27.0.18/30;
            }
            family iso;
            family mpls;
        }
    }
    ge-0/0/6 {
        description "Connection to R1 AE1";
    }
    ge-0/0/7 {
        description "Connection to R1 AE1";
    }
    ge-0/0/8 {
        description "Connection to internal server";
        unit 0 {
            family inet {
                address 172.27.155.5/24;
            }
        }
    }
    ge-0/0/9 {
        description "Connection to R2 AE0";
    }
    ge-0/0/10 {
        description "Connection to R2 AE0";
    }
    ge-0/0/11 {
        description "Connection to R2 AE0";
    }
    ge-0/0/12 {
        description "Connection to R5 AE2";
    }
    ge-0/0/13 {
        description "Connection to R5 AE2";
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.4/32;
            }
            family iso {
                address 49.0172.0027.0255.0004.00;
            }
        }
    }
}
routing-options {
    autonomous-system 3895077211;
}
protocols {
    rsvp {
        interface all;
    }
    mpls {
        interface all;
    }
    bgp {
        group int {
            type internal;
            local-address 172.27.255.4;
            family inet {
                any;
            }
            family inet-vpn {
                any;
            }
            family inet6 {
                any;
            }
            family l2vpn {              
                signaling;
            }
            neighbor 172.27.255.1;
            neighbor 172.27.255.2;
        }
    }
    isis {
        interface all {
            level 1 disable;
        }
    }
    ldp {
        interface all;
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}