groups {
    ISO-MPLS {
        interfaces {
            <ge-*> {
                unit <*> {
                    family iso;
                    family mpls;
                }
            }
            <ae*> {
                unit <*> {
                    family iso;
                    family mpls;
                }
            }
        }
    }
}
apply-groups ISO-MPLS;
system {
    host-name R5;
    time-zone America/Los_Angeles;
    debugger-on-panic;
    debugger-on-break;
    dump-on-panic;
    root-authentication {
        encrypted-password "$1$SGUyJfYE$r5hIy2IU4IamO1ye3u70v0"; ## SECRET-DATA
    }
    name-server {
        8.8.8.8;
    }
    login {
        message "Welcome to the cloud\npassword is Clouds\n";
        user lab {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$6oFJiO42$R9CAcGzU9BKWvrPJoxI8T0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        host log {
            any notice;
            kernel info;
            pfe info;
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
            kernel info;
            pfe info;
            archive world-readable;
        }
        file security {
            interactive-commands any;
            archive world-readable;
        }
    }
    archival {
        configuration {
            transfer-on-commit;
            archive-sites {
                "ftp://tftp:tftp@10.233.255.254/active/configset";
            }
        }
    }
}
chassis {
    dump-on-panic;
}
interfaces {
    ge-0/0/1 {
        description "Connection to R3";
        unit 0 {
            family inet {
                address 172.27.0.25/30;
            }
            family mpls;
        }
    }
    ge-0/0/2 {
        description "Connection to R4";
        unit 0 {
            family inet {
                address 172.27.0.22/30;
            }
            family mpls;
        }
    }
    ge-0/0/4 {
        description "Connection to C2 Link 1";
        unit 0 {
            family inet {
                address 172.27.0.49/30;
            }
        }
    }
    ge-0/0/5 {
        description "Connection to C2 Link 2";
        unit 0 {
            family inet {
                address 172.27.0.73/30;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.27.255.5/32;
            }
            family iso {
                address 49.2008.1720.2725.5005.00;
            }
        }
    }
}
routing-options {
    router-id 172.27.255.5;
}
protocols {
    mpls {
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
    }
    isis {
        reference-bandwidth 10g;
        level 1 disable;
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
        interface lo0.0;
    }
    ldp {
        preference 20;
        track-igp-metric;
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
